# In class code for 011520120
* in, not in operator
* slicing lists

## The in operator (and not in)
* also mixed types in a list
* boolean (True/False)

In [0]:
a_lst = [18, 'john', 'Kexin', 24]
print(a_lst)

print(18 in a_lst)
print('john' not in a_lst)

## Slicing (indexing into lists)
* use range to make a list of numbers!
* start, stop, non-inclusive

In [0]:
x = list(range(0,15)) 

# pull the first three numbers - non inclusive!
print(x[0:3])

In [0]:
# same thing
print(x[:3])

In [0]:
# 3rd to end
print(x[2:10])

In [0]:
# last element
print(x[-1])

### start, stop, step...non-inclusive
* can make the start and stop explicit, or can just use : if you want it all...

In [0]:
# stepping through list of numbers - every other
print(x[0:15:2])

In [0]:
# same thing (start at begin of list, go to the end, step size of 2)
print(x[::2])
# print(x[4::2]) # specify just the start, go till end
# print(x[:11:2]) # specify just the stop, start at first element.

### Entire list, step size of -1, starting at the end
* this reverses the list!

In [0]:
print(x[::-1])

In [0]:
# step based on counting from the end
print(x[::-2])

# Q questions 1-2

## Views vs copies
* views share the same data
  * so changing one will change the other
* copies have independent data
  * so changing one will not affect the other

In [0]:
# view vs copy

# first create a list of numbers
x = list(range(0,3))

# create a view of the list
# if you create a view, x and y will be referencing (looking at, referring to) the same data
# here if you modify y, that will also change x
y = x

# should give the same output...
print(x)
print(y)

### Now modify y to see what happens to x
* even though you don't explicitly change 'x', it changes because it refers to the same data as 'y'

In [0]:
print('original x: ', x)
y[0] = 10
print('new x: ', x)
print('new y: ', y)

### **Copy** - independent variable that is separate from the original 
* slicing and then re-assigning to a new variable automatically makes a copy, not a view
* can also use the copy() method

In [0]:
# create a copy this time, which will make 
# an indepent object y that contains its own
# copy of the data in x
x = list(range(0,3))
y = x[:]   # slicing makes a copy!
# y = x.copy()

y[0] = 10

print(x)
print(y)

## Tuple object type
* tuples are like lists, but they are immutable. 
* use the ()
* can't sort as they are immutable (so no sort method), but can use the general 'sorted()' function

In [0]:
# make a tuple using () (instead of [] for a list)
a_tuple = ('john', 'enrique', 'mariela')

print(a_tuple[1])

# can't modify contents
# a_tuple[0] = 'bob'
# print(a_tuple)

# but you can reasign it. 
a_tuple = ('adnan', 'shreya', 'ralph')
print(a_tuple)

### Tuple packing/unpacking
* When writing functions (will learn about soon), you can only return one variable
* however, that variable can be a tuple, allowing you to actually return multiple variables, all packed into one tuple object
* **need to be really careful when unpacking - if you get the wrong variable in the wrong place, it will still work but then you might swap name/age (or whatever your variables are)**

In [0]:
# set up a tuple to store user info
usr_data = ('John', 41, 'CA')
print(usr_data)

In [0]:
# unpack the tuple into the 'pieces'...
(name, age, residence) = usr_data

# bad
# (age, name, residence) = usr_data

print('name:', name)
print('age:', age)
print('residence:', residence)