# In Class notes 01222020
* For loops [good reference page here](https://www.w3schools.com/python/python_for_loops.asp)
* Boolean logic and equivalence testing
* If...elif...else control statements

## For loops
* repeat an operation or set of operations a specified number of times 
* iterate over items in a sequence (e.g. a string, a list, etc)
* syntax can be read: for each item in a sequence, do:
* indentation

In [0]:
# iterate over characters in a string
for each_letter in 'funny things happen':
  print(each_letter)
  #print(each_letter.upper())

#print(each_letter)

### Loop over elements in a list

In [0]:
names = ['pauline', 'zhentao', 'mariela']

for name in names:
  print(name)

### Apply a method to each item in a list

In [0]:
names = ['courtney', 'ayoung', 'madison']

for name in names:
  # print each name in title format
  print(name.title())

### Generate an "iterable" set of numbers using the 'range' function

In [0]:
for i in range(0,5):
  print(i)

  print((i*10)+5)

### Can use for other purposes as well
* fill up a list with numbers, after doing some operation on the numbers
* Introduce the 'append' method for list objects

In [0]:
lst_squares = []
nums = range(0,6)

print(nums)

for number in nums:
  lst_squares.append(number**2)
  
print(lst_squares)

### Use nested for loops to operate over all elements in multiple lists
* in this example we'll make two lists of numbers and then will multiply every element of the first array with every element of the second array.

In [0]:
x = list(range(0,5))
y = list(range(10,15))

for num1 in x:
  for num2 in y:
    print(str(num1), str(num2), 'Product:', str(num1 * num2))

### Use a list of numbers to index into another list 
* can change the order of the list by changing the range
* this is often useful when you only want to loop over a subset of an array

In [0]:
# make a range of numbers
x = range(0,3)
x = range(2,-1,-1) # remember that range starts at the first value, but does not include the stop value (so stops at 0 in this case!)

# make a list of names
names = ['cho-chang', 'valeria', 'sabina']

for num in x:
  # using our range of numbers to index into another list
  print(names[num])

### Another example of an embedded loop...
* introduction to += operator

In [0]:
# use embedded loops to go over multiple lists (or sequences of numbers, whatever)
x = list(range(0,3))
y = list(range(0,3))

print(x)
print(y)

out = 0
for i in x:
  for j in y:
    # assign after summing current value with RHS
    out += (i*j)
    
print(out)

## Boolean logic and equivalence testing
* remember that a single = is the "assignment" operator, so x = y reads "x is assigned y"
* the == syntax is a test for equivalence, so x==y reads "does x equal y?"

In [0]:
0 == 0

In [0]:
0 == 1

In [0]:
n = 'in'
x = 'In'

print(n==x)
print(n.upper()==x.upper())

### The "not" operator can be used to see if two expressions are not equivalent

In [0]:
# not operator
n != x

### Greater than, less than

In [0]:
x = 5
y = 6

x < y

### logical and, or
* are x AND y both true? 
* is x OR y true?

In [0]:
# logical and - will return true if and only if all statement eval to true
x = 5
y = 6
z = 5
w = 8

x < y and z < w and y < w

In [0]:
# logical or - will return true if ANY statement evals to true
x = 5
y = 6
z = 5
w = 8

print(x > y or z < w)

# can string together and and or operators...
((x < y) and (z < w)) or (y > w)

## If...then statements
* test a conditional statement, if true, then do one thing, if false, then do something else...

In [0]:
# simple example using if...else
x = 5
y = 3

if (x < y):
  print('harry wins!')
else:
  print('malfoy wins!')

### Indentation matters!
* indentation is how Python figures out which statements belong to which part of a if...else structure

In [0]:
# simple example using if...else
x = 5
y = 6

if (x < y):
  print('thor wins!')

else:
  print('hulk wins!')

print('En Dwi wins!')

### If...elif...else syntax
* used to test a series of conditionals

In [0]:
# set up a if...else statement
names = ['zhi', 'renita', 'blake', 'vy']

# set up the if...else
# can combine with and and or as well
for n in names:
  if n == names[0]:
    print('hi')
  elif n == names[1]:
    print('hello there') 
  elif n == names[2]:
    print('see you')
  else: 
    print('who is that???')

## Concatenating lists and "lists in lists" (related to problem #4...)
* Use the '+' operator to concatenate lists into a bigger list
* You can make a list of strings or numbers (or both) which is what we've been doing mostly
* You can make a list of lists!

In [0]:
# make a few lists
student1 = ['sabina', 19]
student2 = ['valerie', 21]
student3 = ['oleg', 27]

### Now concatenate the lists into a longer list using the '+' operator

In [0]:
concat_list = student1 + student2 + student3

# when you print, you'll see that you now a single list that contains all the names, ages
print(concat_list)

### Now make a list of lists!

In [0]:
list_in_list = [student1, student2, student3]
# compare the output here to the output above for 'concat_list' - you'll see that 
# list_in_list actually has three sub-lists in it
print(list_in_list)

### Indexing into a list of lists
* use the [ ][ ] to index into lists of lists - the argument in the first set of brackets indicates which sub-list, and the argument in the second set of brackets indicates which element in that sub-list you want

In [0]:
# this will print the first element of the first list in list_in_list
print(list_in_list[0][0])

# this will print the second element of the second list in list_in_list
print(list_in_list[1][1])

# this will print the first element of the third list in list_in_list
print(list_in_list[2][0])

# so...if you want to just increment the ages you can index into the age field in each of the sub-lists and add 2!